/* src/components/layout/Footer.module.css */

.footer {
  width: 100%;
  background-color: #111827;
  color: #9ca3af;
  font-size: 1.6rem;
}

.inner {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2rem 2rem 10.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile: Privacy Policy + FAQ + social on one line, copyright on next line (left) */
@media (max-width: 500px) {
  .inner {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .copyright {
    order: 2;
    width: 100%;
  }

  .footerMenu {
    order: 1;
  }

  .socialMedia {
    order: 1;
  }
}

.footerMenu {
  display: flex;
  gap: 3rem;
}

.footerMenu a {
  color: #e5e7eb;
}

.socialMedia {
  display: flex;
  gap: 1.2rem;
}

.socialMedia a {
  display: inline-flex;
  align-items: center;
}
