.banner {
    background-color: #cfe5ff;
    height: 540px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: 55%;
  }
  
  .hero {
    background-image: url("../../images/home/hero-image.png");
  }
  
  .features {
    padding-bottom: 138px;
  }
  
  .bottomBanner {
    background-image: url("../../images/home/bottom-banner-image.png");
  }

  /* banner 요소 내의 pill-button을 선택해 스타일 적용. ID 선택자 대신 이렇게 캐스캐이딩을 활용하는 방법은 특정 컨텍스트 내에서만 스타일을 적용하고자 할 때 유용해요. */
.pill-button {
    margin-top: 32px;
  }
  
  /* flex 요소에서는 gap 속성을 사용해 자식 요소 사이의 간격을 조정할 수 있어요. */
  .feature {
    padding: 138px 0;
    display: flex;
    align-items: center;
    gap: 5%;
  }
  
  /* pseudo-selector인 nth-child(2)를 통해 feature 클래스를 가진 요소 중 두 번째 아이템에만 다른 스타일을 적용했어요. */
  .feature:nth-child(2) {
    text-align: right;
  }
  
  /* flex: 1을 통해 부모 요소인 feature의 남은 공간을 모두 차지하도록 설정할 수 있어요. */
  .feature-content {
    flex: 1;
  }
  
  .feature-tag {
    color: #3692ff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  
  .feature-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.08em;
    margin-top: 24px;
  }
  

  /* 요소의 최대 너비를 1200rem로 제한하고, 요소가 그보다 큰 경우에는 가로 중앙 정렬해 주는 inner container */
.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    letter-spacing: 0.02em;
  }
  
  /* 위에서 스타일링해준 <button> 태그와 달리 버튼 모양이지만 <a> 태그를 사용한 class='button' 요소들을 지칭하는 부분이니 혼동하지 않도록 주의하세요. */
  .button {
    background-color: #3692ff;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  /* 
    가상 클래스(pseudo-class)를 사용해 특정 상태에 맞는 스타일을 적용하세요. 
    버튼 역할을 하는 요소에는 hover 또는 disabled 시의 스타일을 지정해 주는 것이 사용자 경험에 도움이 됩니다. 
  */
  .button:hover {
    background-color: #1967d6;
  }
  
  .button:focus {
    background-color: #1251aa;
  }
  
  .button:disabled {
    background-color: #9ca3af;
    cursor: default;
    pointer-events: none;
  }
  

  .button {
    font-size: 2rem;
    font-weight: 700;
    border-radius: 99.9rem;
    padding: 1.6rem 12.4rem;
  }
  